pydantic
python-dotenv
from_root
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
psycopg2-binary
uvicorn
-e .
fastapi
uvicorn
pydantic
python-dotenv
mysql-connector-python
passlib[bcrypt]
python-jose